{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Список продуктов</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top! alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p><strong>Цена:</strong> {{ product.price }} руб.</p>
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-primary">Подробнее</a>


                        <!-- Кнопки для владельца/модератора -->
                        {% if user.is_authenticated and (product.owner == user or perms.catalog.can_unpublish_product) %}
                            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-outline-primary